.myBG {
  height: 100vh;
  background: url("../assets/images/bg/main.jpg");
  background-size: cover;
}

.intro {
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}
